
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root{
    --primary-color-- : rgb(11, 59, 36);
    --secondry-color--: #faf8f6;
    --navbar-back-color--: rgb(241, 241, 241, 0.9);
    --rating-color--: rgb(242, 183, 5);
    --price-strikethrough-color--: rgb(168, 172, 166);
    --hero-heading-color--: rgb(255, 255, 255);
    --bold-text-color: 	rgb(85, 107, 92);
    --muted-text-color--: rgb(197, 197, 197);
    --items-back-color--: rgb(240, 242, 240);
 }

/* hero section */

.hero-section{
    width: 100%;
    height: auto;
 }

.hero-image{
    background-image: url('main-image.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* Navigation Bar */

/* logo */
nav{
    background-color: var(--navbar-back-color--);
    height: 60px;
    color: var(--primary-color--);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-img{
    background-image: url("logo.png");
    background-position: center;
    background-size: cover;
    width: clamp(1rem, 0.751rem + 1.6vw, 2.188rem);
    height: clamp(1rem, 0.751rem + 1.6vw, 2.188rem);
    border-radius: 20px;
    margin-right: 4px;
}

.logo{
    display: flex;
    align-items: center;
    font: 600 clamp(1rem, 0.895rem + 0.67vw, 1.5rem) arial;
}

/* menu */

.menu{
    width: 50%;
    display: flex;
    justify-content: center;
}
.menu-list{
    display: flex;
    list-style-type: none;
    font: 700 14px arial;
}

li{
    margin: 0 14px 0 14px;
}

li:hover{
    text-decoration: underline;
}

/* nav-right-icons */

.nav-right-side{
    display: flex;
}

.nav-icon{
    padding: 6px 4px;
    background-color: rgba(234, 236, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 8px;
    font-size: clamp(0.75rem, 0.697rem + 0.34vw, 1rem);
}

.menu-icon{
    display: none;
}

.button{
    background-color: var(--primary-color--);
    color: var(--secondry-color--);
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.875rem);
}

/* hero text */

.hero-text{
    padding: 12% 0 12% 12%;
}

.hero-muted-text{
    color: var(--muted-text-color--);
    font-weight: 600;
    font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.875rem);
    font-family: inter;
}

.hero-heading{
    color: var(--hero-heading-color--);
    font-weight: 700;
    font-family: "playfair display";
    font-size: clamp(1.875rem, 1.136rem + 3.69vw, 3.5rem);
    width: 58%;
}

.hero-line1{
    margin-bottom: 12px;
}

.hero-para{
    margin: 20px 0 36px 0;
}

.hero-button-watch, .watch-now{
    display: flex;
}

.watch-icon{
    color: var(--secondry-color--);
    font-size: 30px;
    margin: 0 4px 0 12px;
}

.watch-text{
    color: var(--navbar-back-color--);
    width:120px;
}

.joining-text{
    color: var(--muted-text-color--);
    font: bold 10px inter;
    margin-top: 8px;
}

/* popularity */

.popularity-boxes{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.box{
    background-color: var(--navbar-back-color--);
    width: 170px;
    height: 130px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgb(59, 59, 59);
    font: 600 12px "playfair display";
    color: var(--primary-color--);
    text-align: center;
    padding: 20px 20px;
    margin: 14px ;
}

.line2{
    font: bolder 24px inter;
    margin: 10px 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-rating-star{
    font-size: 18px;
}

/* section 1 */

.QuesAns{
    text-align: center;
}

.section1-part1{
    color: var(--primary-color--);
    font-weight: 700;
    font-size: clamp(1.125rem, 0.841rem + 1.42vw, 1.75rem);
    font-family: "playfair display";
    margin: 44px 0 10px 0;
}

.section-p{
    color: var(--bold-txt-color);
    font-weight: 500;
    font-size: clamp(0.75rem, 0.693rem + 0.28vw, 0.875rem);
}

.services{
    display: flex;
    justify-content: center;
    margin: 60px 30px 60px 30px;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas: 
    "s1 img s4"
    "s2 img s5";
    column-gap: 40px;
    color: var(--primary-color--);
}

.service1{
    grid-area: s1;
}

.service2{
    grid-area: s2;
}

.service3{
    grid-area: img;
}
.service3>img{
    height: 400px;
    background-blend-mode: multiply;
}

.service4{
    grid-area: s4;
}

.service5{
    grid-area: s5;
}

.service-icon{
    font-size: 24px;
    display: inline-block;
    background-color: var(--secondry-color--);
    padding: 8px ;
    border-radius: 4px;
    margin: 0 0 18px 0;
}

.service>h3{
    font: 800 22px "playfair display";
    margin: 0 0 10px 0;
}

.service>p{
    font: 500 13px "playfair display";
}

/* section 2 */

.section2-img{
    background-image: url('section2-img.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.section2-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    margin: 0 30px;
    padding: 8% 0;
}

.section2-card{
    max-width: 510px;
    width: auto;
    height: auto;
    background-color: rgba(214, 214, 214, 0.15);
    backdrop-filter: blur(10px);
    display: flex;
    border-radius: 10px;
    border: 0.5px solid rgb(150, 150, 150);
    margin: 20px 0;
}

.card-text{
    margin: 8px 24px 8px 16px;
}

.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 170px;
    border-radius: 8px;
    margin: 0 16px 0;
}

.card-img1{
    background-image: url('section2-card1-img.jpg');
}

.card-img2{
    background-image: url('section2-card2-img.jpg');
}

.card-btn1{
    background-color: rgba(128, 128, 128, 0.15);
    color: var(--secondry-color--);
    backdrop-filter: blur(2px);
    border: none;
    padding: 6px 16px 6px 16px;
    border-radius: 20px;
    font: 12px "playfair display";
}

.card-text>h3{
    color: var(--hero-heading-color--);
    font: 20px "playfair display";
    margin: 8px 0 8px 0;
}

.card-text>p{
    color: var(--muted-text-color--);
    font: 12px "playfair display";
    word-spacing: 3px;
}

.card-btn2{
    background-color: var(--hero-heading-color--);
    border: none;
    color: var(--primary-color--);
    font: 600 12px "playfair display";
    padding: 6px 14px ;
    border-radius: 20px;
    margin: 10px 0 4px 0;
}

/* section 3 */

.section3{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 44px;
}

.section3-items{
    display: flex;
    justify-content: center;
    column-gap: 14px;
    margin: 40px 0 0 0;
    padding: 0 100px;
    flex-wrap: wrap;
}

.items-intro{
    text-align: center;
    font-size: clamp(1.125rem, 0.841rem + 1.42vw, 1.75rem);
    color: var(--primary-color--);
}

.items-list>ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: var(--bold-text-color--);
    font: 600 12px "playfair display";
    margin: 14px 0 0px 0;
}

.item{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--items-back-color--);
    width: 220px;
    height: 240px;
    box-shadow: 2px 2px 8px lightgrey;
    border-radius: 6px;
    position: relative;
    margin: 90px 0 0 0;
}

.item-img{
    width: 200px;
    height: 240px;
    position: absolute;
    top: -60px;
}

.item1-img{
    background: url('peace lily.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item2-img{
    background: url('Philodendron.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item3-img{
    background: url('Caladium.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item4-img{
    background: url('ZZ Plant.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item5-img{
    background: url('Ficus Lyrata.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item6-img{
    background: url('Anthurium.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item7-img{
    background: url('Pothos.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item8-img{
    background: url('Rubber Plant.jpg');
    mix-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.item-description{
    position: absolute;
    bottom: 15px;
    margin: 0 0 4px 0;
}

.item-price{
    display: flex;
    align-items: flex-end;
    font: 14px "playfair display";
    color: var(--bold-text-color--);
}

.item-name{
    color: var(--primary-color--);
    text-align: center;
}

.strike-through-price{
    color: var(--muted-text-color--);
    font-size: 10px;
    margin-right: 6px;
}

.explore-btn{
    background-color: var(--hero-heading-color--);
    color: var(--primary-color--);
    font: 12px "playfair display";
    margin: 44px 0 0 0;
    padding: 4px 10px 4px 10px;
    border: 1px solid var(--primary-color--);
    border-radius: 4px;
}

/* section 4 */

.section4{
    padding-top: 24px;
}

.section4-img{
    background-image: url(section4-img.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.section4-text{
    color: var(--primary-color--);
    font-family: "playfair-display";
    width: 100%;
    height: auto;
    padding: 10% 0 10% 10%;
}

.discount{
    background-color: var(--hero-heading-color--);
    padding: 8px 4px ;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(168, 167, 167);
}

.section4-text>h3{
    line-height: 30px;
    margin: 0 0 12px 0;
    font-size: clamp(1rem, 0.886rem + 0.57vw, 1.25rem);
}

.section4-text> p{
        width: 60%;
    }

.section4-btn{
    margin-top: 20px;
    color: var(--navbar-back-color--);
    border: none;
    background-color: var(--primary-color--);
    padding: 10px 8px ;
    border-radius: 6px;
}

@media (max-width: 480px) {
    .menu-icon{
        display: block;
    }
    nav{
        justify-content: space-between;
        padding: 0 20px;
    }
    .menu{
        display: none;
    }
    .nav-icon{
        margin: 0 4px;
    }
    .button{
        padding: 8px 16px;
    }
    .hero-heading{
        width: 80%;
    }
    .hero-line1{
    margin-bottom: 12px;
    }
    .hero-para{
    margin: 10px 0 20px 0;
    }
    .services{
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "s1"
    "s2"
    "img"
    "s4"
    "s5";
    gap: 20px;
    }
    .service-icon{
        padding: 2px;
    }
    .section2-card{
        flex-flow: column-reverse;
    }
    .section2-img{
        background-position: 70%;
    }
    .card-img{
        width: 90%;
        height: 300px;
        margin: 12px;
    }
    .section4-img{
        background-position: left;
    }
    .section4-text>p{
        width: 70%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .menu-icon{
        display: block;
        margin: 0 6px;
    }
    .menu{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 0 24px;
    }
    .button{
        padding: 8px 20px;
    }
    .hero-heading{
        width: 80%;
    }
    .services{
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas: 
    "s1 img "
    "s2 img "
    "s4 s5";
    }
    .section4-img{
        background-position: left;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .services{
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas: 
    "s1 img "
    "s2 img "
    "s4 s5";
    }
    .section4-text>p{
        width: 40%;
    }
}