
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root{
    --primary-color-- : rgb(11, 59, 36);
    --secondry-color--: #faf8f6;
    --navbar-back-color--: rgb(241, 241, 241, 0.9);
    --rating-color--: rgb(242, 183, 5);
    --price-strikethrough-color--: rgb(168, 172, 166);
    --hero-heading-color--: rgb(255, 255, 255);
    --bold-text-color: 	rgb(85, 107, 92);
    --muted-text-color--: rgb(197, 197, 197);
    --items-back-color--: rgb(240, 242, 240);
 }

/* hero section */

.hero-section{
    width: 100%;
    height: auto;
 }

.hero-image{
    background-image: url('main-image.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* Navigation Bar */

/* logo */
nav{
    background-color: var(--navbar-back-color--);
    height: 60px;
    color: var(--primary-color--);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-img{
    background-image: url("logo.png");
    background-position: center;
    background-size: cover;
    width: clamp(1rem, 0.751rem + 1.6vw, 2.188rem);
    height: clamp(1rem, 0.751rem + 1.6vw, 2.188rem);
    border-radius: 20px;
    margin-right: 4px;
}

.logo{
    display: flex;
    align-items: center;
    font: 600 clamp(1rem, 0.895rem + 0.67vw, 1.5rem) arial;
}

/* menu */

.menu{
    width: 50%;
    display: flex;
    justify-content: center;
}
.menu-list{
    display: flex;
    list-style-type: none;
    font: 700 14px arial;
}

li{
    margin: 0 14px 0 14px;
}

li:hover{
    text-decoration: underline;
}

/* nav-right-icons */

.nav-right-side{
    display: flex;
}

.nav-icon{
    padding: 6px 4px;
    background-color: rgba(234, 236, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0 8px;
    font-size: clamp(0.75rem, 0.697rem + 0.34vw, 1rem);
}

.menu-icon{
    display: none;
}

.button{
    background-color: var(--primary-color--);
    color: var(--secondry-color--);
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.875rem);
}

/* hero text */

.hero-text{
    padding: 12% 0 12% 12%;
}

.hero-muted-text{
    color: var(--muted-text-color--);
    font-weight: 600;
    font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.875rem);
    font-family: inter;
}

.hero-heading{
    color: var(--hero-heading-color--);
    font-weight: 700;
    font-family: "playfair display";
    font-size: clamp(1.875rem, 1.136rem + 3.69vw, 3.5rem);
    width: 58%;
}

.hero-line1{
    margin-bottom: 12px;
}

.hero-para{
    margin: 20px 0 36px 0;
}

.hero-button-watch, .watch-now{
    display: flex;
}

.watch-icon{
    color: var(--secondry-color--);
    font-size: 30px;
    margin: 0 4px 0 12px;
}

.watch-text{
    color: var(--navbar-back-color--);
    width:120px;
}

.joining-text{
    color: var(--muted-text-color--);
    font: bold 10px inter;
    margin-top: 8px;
}

/* popularity */

.popularity-boxes{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.box{
    background-color: var(--navbar-back-color--);
    width: 170px;
    height: 130px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgb(59, 59, 59);
    font: 600 12px "playfair display";
    color: var(--primary-color--);
    text-align: center;
    padding: 20px 20px;
    margin: 14px ;
}

.line2{
    font: bolder 24px inter;
    margin: 10px 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-rating-star{
    font-size: 18px;
}


@media (max-width: 480px) {
    .menu-icon{
        display: block;
    }
    nav{
        justify-content: space-between;
        padding: 0 20px;
    }
    .menu{
        display: none;
    }
    .nav-icon{
        margin: 0 4px;
    }
    .button{
        padding: 8px 16px;
    }
    .hero-heading{
        width: 80%;
    }
    .hero-line1{
    margin-bottom: 12px;
    }
    .hero-para{
    margin: 10px 0 20px 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .menu-icon{
        display: block;
        margin: 0 6px;
    }
    .menu{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 0 24px;
    }
    .button{
        padding: 8px 20px;
    }
    .hero-heading{
        width: 80%;
    }
}