
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root{
    --primary-color-- : rgb(11, 59, 36);
    --secondry-color--: #faf8f6;
    --navbar-back-color--: rgb(241, 241, 241, 0.9);
    --rating-color--: rgb(242, 183, 5);
    --price-strikethrough-color--: rgb(168, 172, 166);
    --hero-heading-color--: rgb(255, 255, 255);
    --bold-text-color: 	rgb(85, 107, 92);
    --muted-text-color--: rgb(197, 197, 197);
    --items-back-color--: rgb(240, 242, 240);
 }

body{
    display: flex;
    align-items: center;
    flex-flow: column;
}

/* hero section */

.hero-section{
    display: flex;
    justify-content: center;
    width: 1257px;
    height: 1000px;
 }

.hero-image{
    background-image: url('images/main-image.png');
    background-size: cover;
    width: 1257px;
    position: relative;
}

/* Navigation Bar */

/* logo */
nav{
    background-color: var(--navbar-back-color--);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primary-color--);
    
}

.logo-img{
    background-image: url("images/logo.png");
    background-position: center;
    background-size: cover;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    margin-right: 4px;
}

.logo{
    display: flex;
    align-items: center;
    font: 600 24px arial;
}

/* list */

.list{
    width: 50%;
    display: flex;
    justify-content: center;
}
.unordered-list{
    display: flex;
    list-style-type: none;
    font: 700 14px arial;
}

li{
    margin: 0 28px 0 0;
}

li:hover{
    text-decoration: underline;
}

/* nav-right-icons */

.nav-right-icon{
    display: flex;
    margin-right: 8px;
}

.nav-icon{
    padding: 6px;
    background-color: rgba(234, 236, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
}

.button{
    background-color: var(--primary-color--);
    color: var(--secondry-color--);
    border: none;
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
}

/* hero text */

.hero-text{
    position: absolute;
    top: 258px;
    left: 140px;
}

.hero-muted-text{
    color: var(--muted-text-color--);
}

.hero-heading{
    color: var(--hero-heading-color--);
    font:  700 56px "playfair display";
    width: 600px;
}

.hero-line1{
    margin-bottom: 20px;
    font: 600 13px inter;
}

.hero-para{
    margin: 20px 0 36px 0;
    font: 600 14px inter;
}

.hero-button-watch, .watch-now{
    display: flex;
}

.watch-icon{
    color: var(--secondry-color--);
    font-size: 30px;
    margin: 0 4px 0 12px;
}

.watch-text{
    color: var(--navbar-back-color--);
    font: 12px inter;
    width:100px;
}

.joining-text{
    color: var(--muted-text-color--);
    font: bold 10px inter;
    margin-top: 8px;
}

/* popularity */

.popularity{
    display: flex;
    justify-content: center;
}

.popularity-boxes{
    display: flex;
    position: absolute;
    bottom: 80px;
}

.box{
    background-color: var(--navbar-back-color--);
    width: 200px;
    height: 130px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgb(59, 59, 59);
    font: 600 12px "playfair display";
    color: var(--primary-color--);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px;
}

.line2{
    font: bolder 24px inter;
    margin: 10px 0 8px 0;
}

.line2-text{
    display: flex;
    align-items: center;
}

.hero-rating-star{
    font-size: 18px;
}